@import url(../../global.css);

body {
  font-family: var(--mainfont);
  min-height: 100vh;
  width: 100%;
}

/* START OF HEADER */
header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--maingrey);
  position: sticky;
  z-index: 99;
  top: 0;
  background-color: var(--subcolor);
}

nav {
  max-width: 1440px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 76px;

  &>a {
    display: flex;
    align-items: center;
    gap: 8px;

    &>span {
      color: var(--maincolor);
      font-family: var(--subfont);
      font-weight: 600;
      font-size: 1.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &>div:nth-child(2) {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--textcolor);

    &>div {
      &>span:first-child {
        display: none;
      }
    }
  }

  @media (width <=768px) {
    background-color: var(--maincolor);

    &>a:first-child {
      display: none;
    }

    &>div:nth-child(2) {
      flex-direction: row-reverse;

      &>div {
        span {
          color: var(--subcolor);

          &:first-child {
            font-size: min(max(12px, calc(0.75rem + (14 - 12) * ((100vw - 375px) / (768 - 375)))), 14px);
            display: block;
          }

          &:last-child {
            font-weight: 500;
            font-size: min(max(14px, calc(0.875rem + (16 - 14) * ((100vw - 375px) / (768 - 375)))), 16px);
          }
        }
      }


      svg {
        display: none;
      }
    }
  }
}

/* END OF HEADER */

main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  @media (width <=768px) {
    flex-direction: column-reverse;
  }
}

aside {
  height: 100vh;
  width: fit-content;
  position: fixed;
  top: 76px;
  z-index: 88;
  background-color: var(--subcolor);

  &>div {
    display: grid;
    gap: 16px;
    margin: 16px;

    &>a {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 5px;
      gap: 10px;
      color: var(--textcolor);

      &:hover {
        color: var(--subcolor);

        &:not(:last-child) {
          background-color: var(--maincolor);
        }

        &:last-child {
          background-color: #D00000;
        }

        &:nth-child(2),
        &:nth-child(4) {
          &>svg {
            fill: var(--subcolor);
          }
        }

        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5),
        &:nth-child(6) {
          &>svg>path {
            stroke: var(--subcolor);
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: 0;
    max-width: 100vw;

    &>div {
      grid-template-columns: repeat(6, 1fr);
      margin: 0;
      padding: 0;
      height: 75px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 100vw;
      background-color: var(--subcolor);
      position: fixed;
      bottom: 0;

      &>a {
        display: flex;
        justify-content: center;
        border-radius: 0;

        &>p {
          display: none;
        }
      }
    }

  }
}

a {
  text-decoration: none;
}

.green {
  color: #1EC15F;
}

.red {
  color: #D00000;
}

section {
  margin-left: 174.6px;

  @media (width <=768px) {
    margin-left: 0;
  }
}

.DashboardSection {
  flex: 1;
  display: flex;
  height: fit-content;

  #chart {
    width: 100%;
  }

  &>div:first-child {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    gap: 12px;
    margin: 12px 24px;

    &>div {
      border-radius: 8px;

      &:first-child {
        display: flex;
        gap: 12px;
        background-color: var(--subcolor);

        &>div {
          border: 1px solid var(--maingrey);
          border-radius: 8px;
          padding: min(max(0.75rem, calc(0.75rem + (1.5 - 0.75) * ((100vw - 23.4375rem) / (48 - 23.4375)))), 1.5rem);
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 12px;

          &>div {
            display: flex;
            align-items: center;
            gap: 12px;

            &>p {
              color: var(--textcolor);
            }

            &>h3 {
              font-size: min(max(0.75rem, calc(0.75rem + (1.5 - 0.75) * ((100vw - 23.4375rem) / (90 - 23.4375)))), 1.5rem);
            }

            &>span {
              font-size: min(max(0.5625rem, calc(0.5625rem + (1 - 0.5625) * ((100vw - 23.4375rem) / (90 - 23.4375)))), 1rem);
            }
          }

          &>h3 {
            font-size: min(max(0.75rem, calc(0.75rem + (1.5 - 0.75) * ((100vw - 23.4375rem) / (90 - 23.4375)))), 1.5rem);
            font-weight: 500;
          }
        }

        @media (width <=768px) {
          border-radius: 24px;
          background: center no-repeat url("../assets/dashboard/bg-summary.svg");
          background-size: cover;
          gap: 0;

          &>div {
            border: none;
            border-radius: none;

            &>div>img {
              display: none;
            }
          }
        }
      }

      &:nth-child(2) {
        border: 1px solid var(--maingrey);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;

        &>h4 {
          font-weight: 600;
        }

        &>div {
          display: flex;
          gap: 12px;

          &>div {
            display: flex;
            align-items: center;
            background-color: var(--maincolor);
            gap: 12px;
            padding: 12px;
            border-radius: 6px;

            &>a {
              color: var(--subcolor);
            }
          }
        }

        @media (width <=768px) {
          &>div {
            width: 100%;
            gap: 12px;

            &>div {
              flex-grow: 1;
              justify-content: center;
            }
          }

          border: none;
          padding: 24px 0;

          h4 {
            display: none;
          }
        }
      }

      &:nth-child(3) {
        border: 1px solid var(--maingrey);
        padding: 24px;
        display: grid;
        gap: 24px;

        &>div>h4 {
          font-weight: 600;
        }

        &>div:first-child {
          display: flex;
          justify-content: space-between;
          font-weight: 500;

          &>div {
            display: flex;
            gap: 12px;

            &>select {
              border: none;
              outline: none;
              padding: 12px;
              border-radius: 6px;
            }
          }
        }

        &>div:last-child>img {
          object-fit: contain;
          width: 100%;
        }

        @media (width <=768px) {
          border: none;
          padding: 0;
        }
      }
    }

  }

  &>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 24px;
    border: 1px solid var(--maingrey);
    margin: 12px 24px;
    border-radius: 8px;
    flex-basis: 375px;
    flex-shrink: 0;

    h4,
    span {
      font-weight: 600;
    }

    p {
      color: var(--textcolor);
      font-size: min(max(12px, calc(0.75rem + (16 - 12) * ((100vw - 375px) / (768 - 375)))), 16px);
    }

    &>div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {

        &>a {
          font-size: 12px;
          color: var(--maincolor);
          font-weight: 500;
        }
      }

      &>div {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }

    @media (width <=768px) {
      border: none;
      padding: 0;
    }
  }

  @media (width <=768px) {
    background: linear-gradient(to bottom,
        var(--maincolor) 0%,
        var(--maincolor) 5%,
        var(--subcolor) 5%,
        var(--subcolor) 100%);
  }

  @media (width <=1440px) {
    flex-direction: column;
  }
}

.HistorySection {
  flex-grow: 1;
  padding: 32px 12px;

  &>div {
    display: grid;
    gap: 12px;

    &>div:first-child {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
        font-weight: 600;
      }
    }

    &>div:nth-child(2) {
      margin-top: 24px;
      display: grid;
      gap: 16px;

      &>div:first-child {
        display: flex;
        justify-content: space-between;

        &>p {
          font-weight: 600;
        }

        &>label {
          border: 1px solid var(--maingrey);
          border-radius: 6px;
          display: flex;
          align-items: center;
          padding: 12px;

          &>input {
            border: none;

            &:focus {
              outline: none;
            }
          }
        }
      }

      border: 1px solid var(--maingrey);
      border-radius: 8px;
      padding: 24px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    &>tbody>tr {
      &:nth-child(odd) {
        background-color: var(--graytable);
      }

      &:nth-child(even) {
        background-color: var(--subcolor);
      }

      button {
        background-color: unset;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }

      height: 72px;
      text-align: center;
      border-radius: 12px;
    }
  }
}

.TransferSection {
  flex-grow: 1;
  padding: 32px 12px;
  position: relative;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100%;
    top: 0
  }

  .transfer-pin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--subcolor);
    padding: 24px;
    border-radius: 12px;

    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h1 {
      font-size: min(max(1.125rem, calc(1.125rem + (1.875 - 1.125) * ((100vw - 48rem) / (67.5 - 48)))), 1.875rem);
      font-weight: 500;
    }

    &>div:first-child {
      border-bottom: 1px solid var(--maingrey);
      padding: 12px 0;
    }

    form {
      display: grid;
      gap: 100px;
      margin-top: 50px;

      &>label {
        font-weight: 500;
      }


    }

    a {
      button {
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        height: 50px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
        }
      }

      &:first-of-type>button {
        background-color: var(--maincolor);
        border: none;
        color: var(--subcolor);
      }

      &:nth-of-type(2)>button {
        background-color: var(--subcolor);
        border: 1px solid var(--maincolor);
        color: var(--maincolor);
      }

    }

    .Copy {
      color: var(--textcolor);
      line-height: min(max(1.375rem, calc(1.375rem + (1.75 - 1.375) * ((100vw - 48rem) / (67.5 - 48)))), 1.75rem);
      font-size: min(max(0.75rem, calc(0.75rem + (1 - 0.75) * ((100vw - 48rem) / (67.5 - 48)))), 1rem);

      &:last-child {
        text-align: center;
        font-size: 1rem;
      }
    }


    .pin-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pin-input {
      font-size: min(max(1.8rem, calc(1.8rem + (4.2 - 1.8) * ((100vw - 48rem) / (120 - 48)))), 4.2rem);
      border: none;
      outline: none;
      padding: 0;
      width: calc(2.6ch * 6);
      background: repeating-linear-gradient(90deg, var(--maingrey) 0, var(--maingrey) 1ch, transparent 0, transparent 2.6ch) 0 100%/100% 2px no-repeat;
      color: var(--textcolor);
      letter-spacing: 1.6ch;

      @media (max-width: 768px) {
        font-size: min(max(1.8rem, calc(1.8rem + (4.2 - 1.8) * ((100vw - 23.4375rem) / (48 - 23.4375)))), 4.2rem);
      }
    }
  }

  .dash-lines {
    border: 1px solid var(--textcolor);
    border-style: dashed;
    max-width: 85px;
    width: 100%;
  }

  &>div {
    display: grid;
    gap: 12px;

    &>div:first-child {
      display: flex;
      align-items: center;
      gap: 12px;

      p {
        font-weight: 600;
      }
    }

    &>div:nth-child(2) {
      display: flex;
      align-items: center;
      gap: 12px;

      &>div {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 12px
      }
    }

    .FindPeople {
      margin-top: 24px;
      display: grid;
      gap: 16px;

      &>div:first-child {
        display: flex;
        justify-content: space-between;
        padding: 12px 0;

        &>p {
          font-weight: 600;
        }

        &>label {
          border: 1px solid var(--maingrey);
          border-radius: 6px;
          display: flex;
          align-items: center;
          padding: 12px;

          &>input {
            border: none;

            &:focus {
              outline: none;
            }
          }
        }
      }

      border: 1px solid var(--maingrey);
      border-radius: 8px;
      padding: 24px;
    }

    .SetNominal {
      form {
        border: 1px solid var(--maingrey);
        padding: 24px;
        border-radius: 8px;
        margin-top: 24px;

        textarea,
        textarea:focus {
          border: 1px solid var(--maingrey);
          font-family: inherit;
          border-radius: 6px;
          resize: none;
          outline: none;
          padding: 12px;
          background-color: unset;
        }

        button {
          height: 45px;
          border: none;
          border-radius: 6px;
          background-color: var(--maincolor);
          font-size: 14px;
          color: var(--subcolor);
          width: 100%;

          &:hover {
            cursor: pointer;
          }
        }

        &>div {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          gap: 16px;

          &>div:first-of-type {
            display: flex;
            justify-content: space-between;
            background-color: var(--maingrey);
            border-radius: 8px;

            &>div {
              display: flex;
              padding: 20px;
              gap: 12px;

              &>div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &>div {
                  background-color: var(--maincolor);
                  border-radius: 4px;
                  display: flex;
                  padding: 6px;
                  gap: 6px;
                  color: var(--subcolor);
                }
              }
            }

            img:last-child {
              max-width: 24px;
              margin-right: 24px;
            }
          }

          label {
            width: 100%;
            display: flex;
            padding: 12px;
            gap: 12px;

            &:first-of-type {
              border: 1px solid var(--maingrey);
            }

            &>input[type="number"],
            &>input[type="number"]:focus,
            &>input[type="number"]:hover {
              width: 100%;
              outline: none;
              border: none;
              background-color: unset;
            }
          }
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    a,
    p,
    span {
      text-decoration: none;
      color: var(--textcolor);
    }

    &>tbody>tr {
      &:nth-child(odd) {
        background-color: var(--graytable);
      }

      &:nth-child(even) {
        background-color: var(--subcolor);
      }

      height: 72px;
      text-align: center;
      border-radius: 12px;
    }
  }
}

.TopupSection {
  flex-grow: 1;
  width: 100%;
  padding: 32px 12px;

  &>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  form {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    &>div {
      border: 1px solid var(--maingrey);
      padding: 24px;
      border-radius: 8px;

      &:first-child {
        flex-grow: 1;
        display: grid;
        gap: 16px;

        &>div:first-of-type {
          background-color: var(--maingrey);
          border-radius: 8px;
          display: flex;
          padding: 20px;
          gap: 12px;

          &>div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &>div {
              background-color: var(--maincolor);
              border-radius: 4px;
              display: flex;
              padding: 6px;
              gap: 6px;
              color: var(--subcolor);
            }
          }

        }

        label {
          width: 100%;
          display: flex;
          padding: 12px;
          gap: 12px;

          &>img {
            max-width: 38px;
          }

          &:first-of-type {
            border: 1px solid var(--maingrey);
          }

          &>input[type="number"],
          &>input[type="number"]:focus,
          &>input[type="number"]:hover {
            width: 100%;
            outline: none;
            border: none;

            &:-webkit-inner-spin-button,
            &:-webkit-outer-spin-button {
              -webkit-appearance: none;

            }
          }
        }
      }

      /* payment */
      &:last-child {
        display: grid;
        gap: 16px;

        hr {
          color: var(--maingrey);
        }

        &>div {
          display: flex;
          justify-content: space-between;
        }

        button {
          width: 100%;
          border: none;
          background-color: var(--maincolor);
          color: var(--subcolor);
          padding: 12px;
          font-size: 16px;
          border-radius: 6px;
        }

        height: fit-content;
      }
    }
  }

  @media (width <=768px) {
    form {
      flex-direction: column;
    }
  }
}

.Profile {
  flex-grow: 1;
  padding: 32px 12px;

  &>div {
    display: grid;
    gap: 12px;

    &>div:first-child {
      display: flex;
      align-items: center;
      gap: 12px;

    }
  }

  p {
    font-weight: 600;
  }

  .Copy {
    color: var(--textcolor);
    font-size: 14px;
    font-weight: 400;
  }

  .edit-profile {
    display: grid;
    gap: 12px;
    border: 1px solid var(--maingrey);
    padding: 24px;
    border-radius: 8px;

    &>div:first-of-type {
      display: flex;
      gap: 12px;

      &>div:first-child {
        padding: 30px;
        background-color: var(--maingrey);
        border-radius: 6px;
      }

      &>div:last-child {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 6px;
      }

      button {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: inherit;
        font-size: inherit;
        background-color: var(--subcolor);
        border: 1px solid var(--danger);
        color: var(--danger);
        border-radius: 6px;

        &:hover {
          cursor: pointer;
        }
      }

      label {
        background-color: var(--maincolor);
        color: var(--subcolor);
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px;
        border-radius: 6px;

        #profile-photo {
          display: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }


  label:not(.label-pin) {
    border: 1px solid var(--maingrey);
    display: flex;
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    gap: 12px;

    &>input {
      flex-grow: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }
  }

  .edit-profile {
    display: grid;
  }

  button {
    background-color: var(--maincolor);
    border-radius: 6px;
    color: var(--subcolor);
    background-color: none;
    font: inherit;
    padding: 12px 0;
    border: none;
  }

  .edit-pin {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--maingrey);
    padding: 32px;
    gap: 24px;

    button {
      width: 100%;
    }

    .pin-input {
      font-size: min(max(1.8rem, calc(1.8rem + (4.2 - 1.8) * ((100vw - 48rem) / (120 - 48)))), 4.2rem);
      border: none;
      outline: none;
      padding: 0;
      width: calc(2.6ch * 6);
      background: repeating-linear-gradient(90deg, var(--maingrey) 0, var(--maingrey) 1ch, transparent 0, transparent 2.6ch) 0 100%/100% 2px no-repeat;
      color: var(--textcolor);
      letter-spacing: 1.6ch;
    }

  }

  .change-password {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}