@import url(../../global.css);

body {
    font-family: var(--mainfont);
    min-height: 100vh;
    width: 100%;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--maincolor);

    &>section:first-child {
        min-height: 100vh;
        background-color: var(--subcolor);
        border-radius: 0 5% 5% 0;
        display: grid;
        align-items: center;
        width: 100%;

        &>div {
            display: grid;
            padding: min(max(32px, calc(2rem + (152 - 32) * ((100vw - 768px) / (1440 - 768)))), 152px);
            gap: 16px;
        }
    }

    &>section:last-child {
        display: flex;
        align-items: center;

        &>img {
            object-fit: contain;
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;

        &>section:first-child {
            border-radius: 0;
            background-color: var(--maincolor);
            padding: 0 min(max(16px, calc(1rem + (32 - 16) * ((100vw - 375px) / (768 - 375)))), 32px);

            &>div {
                background-color: var(--subcolor);
                border-radius: 16px;
            }
        }

        &>section:last-child {
            display: none;
        }
    }
}

form {
    display: grid;
    gap: 100px;
    margin-top: 50px;

    &>label {
        font-weight: 500;
    }

    &>button {
        background-color: var(--maincolor);
        border-radius: 10px;
        border: none;
        color: var(--subcolor);
        font-weight: 500;
        font-size: 16px;
        width: 100%;
        height: 50px;

        &:hover {
            cursor: pointer;
        }
    }
}

input[type="email"] {
    height: 44px;
    width: 100%;
    border: none;
    padding-right: 0 12px;
    border-radius: 10px;
    padding-right: 12px;

    &:focus {
        outline: none;
    }
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 600;
    color: var(--maincolor);
}

h1 {
    font-size: min(max(1.125rem, calc(1.125rem + (1.875 - 1.125) * ((100vw - 48rem) / (67.5 - 48)))), 1.875rem);
    font-weight: 500;
}

.Copy {
    color: var(--textcolor);
    line-height: min(max(1.375rem, calc(1.375rem + (1.75 - 1.375) * ((100vw - 48rem) / (67.5 - 48)))), 1.75rem);
    font-size: min(max(0.75rem, calc(0.75rem + (1 - 0.75) * ((100vw - 48rem) / (67.5 - 48)))), 1rem);

    &:last-child {
        text-align: center;
        font-size: 1rem;
    }
}

.pin-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin-input {
    font-size: min(max(1.8rem, calc(1.8rem + (4.2 - 1.8) * ((100vw - 48rem) / (120 - 48)))), 4.2rem);
    border: none;
    outline: none;
    padding: 0;
    width: calc(2.6ch * 6);
    background: repeating-linear-gradient(90deg, var(--maingrey) 0, var(--maingrey) 1ch, transparent 0, transparent 2.6ch) 0 100%/100% 2px no-repeat;
    color: var(--textcolor);
    letter-spacing: 1.6ch;

    @media (max-width: 768px) {
        font-size: min(max(1.8rem, calc(1.8rem + (4.2 - 1.8) * ((100vw - 23.4375rem) / (48 - 23.4375)))), 4.2rem);
    }
}